<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width" />

      <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="/static/css/normalize.css" type="text/css">
      <link rel="stylesheet" href="/static/css/skeleton.css" type="text/css">

		<script type="text/javascript" src="/static/js/libgif.js"></script>
		<script type="text/javascript" src="/static/js/rubbable.js"></script>
      <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">


      <title>Infographic GIF viewer</title>
   </head>
   <body>
      <div id="mainCard" class="container">
         <div class="gifContainer">
            <img src="" 
               rel:animated_src="" 
               id="mainGif" 
               rel:auto_play="0"/>
         </div>
         <div class="slidecontainer">
            <input type="range" 
               min="1" 
               max="100" 
               value="1" class="slider" id="frameSlider">
         </div>
      <div id="dropArea">
      </div>
      </div>
   </body>
   <script type="text/javascript" src="/static/js/infogif.js"></script>
</html>
